.field {
  background-color: #c5b9b9;
  width: 505px;
  height: 505px;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: space-evenly;
  cursor: url(../img/hammer-cursor.svg), pointer;
}

.field__circle {
  background-color: #8a8383;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  
}

body {
  background-color: #3f6edb;
  display: flex;
}

.counter {
  font-size: 40px;
  margin-left: 30px;
}